[Desktop Entry]
Version=2.0
Type=Application
Name=MidTool
Exec=/nubomed/midtool2/midtool2
Icon=/nubomed/midtool2/icon.png
Terminal=false
Categories=Application